<footer
  style="
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: gray;
    color: rgba(255, 255, 255, 0.959);
  "
>
  <h6 style="text-align: center" class="p-2">
    &copy; Copyright <%= new Date().getFullYear() %>,
    <a href="https://github.com/Sreejan-22" style="color: white"
      >Sreejan Chaudhury</a
    >
  </h6>
</footer>
